/* General rules for every page */
body {
    background:
        linear-gradient(
          #181818e6, 
          #181818e6
        ),
        url("background.webp");
        /* url('data:image/webp;base64,REMOVED-LOL'); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ebebeb; 
    font-family: 'Roboto', sans-serif; 
}

/* Tabs */
#archiveSurveyTab, #createSurveyTab {
    width: 70%;
    margin: 0 auto;
}
.tabs {
    /*TODO: HIER ANIMATION ZUM EINBLENDEN */
}

/* Links */
a {
    color: #7289DA;
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}

/* Buttons */
button, .button {
    background-color: #7289DA;
    color: #FFFFFF; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
}
button:hover, .button:hover {
    background-color: #677BC4; 
}
button:disabled, .button:disabled {
    background-color: #73747a; 
    color: #b8b8b8; 
    cursor: default;
    opacity: 0.7;
}

/* Navigation */
nav {
    display: flex;
    text-align: center;
    border-bottom: #7289DA 1px solid;
    font-size: large;
}
nav > a {
    flex-grow: 1;
    cursor: pointer;
    padding: 16px 0;
}
nav > a.selected {
    background:
        linear-gradient(
          #0077ff00, 
          #2189ff4d
        )
}
nav > a:hover {
    background:
        linear-gradient(
          #0077ff00, 
          #0077ff66
        )
}


/* Emoji Picker */
#emojiPicker {
    display: none;
    position: absolute;
    z-index: 20;
}
#emojiPicker.visible {
    display: block;
}

/* markup */
.heading {
    font-size: xx-large;
}
.spoiler {
    background-color: black; 
    color: black;
    border-radius: 3px;
}
.spoiler:active {
    background-color: inherit;
    color: inherit;
}


/* Animations */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideIn {
    0% {top: 200px;}
    100% {top: 0;}
}
