/* File Selector */
#fileSelector {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}
#fileButton {
  box-shadow: 0 0 5px gray;
  font-size: large;
}
#fileInput {
    display: none;
}
#fileLabel {
    background-color: #383833;
    box-shadow: 0 0 8px 4px #383833;
}

/* Survey detail elements */
.survey {
    position: relative;
    animation: slideIn 0.5s cubic-bezier(0.1, 0, 0.0, 1.0);
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}
.survey p {
    display: inline-block;
}
.survey > :first-child {
    display: flex;
    justify-content: space-between;
}
.survey > :first-child > p {
    color: #AAAAAA;
    text-align: right;
}

.survey > p {
    margin: auto;
}
.survey ul {
    list-style-type: none;
    padding-left: 20px;
}
.survey li {
    margin: 5px auto;
}
.survey li span {
    color: #aaaaaa;
}


/* Survey container */
#surveyContainer {
    margin-bottom: 120px;
}


/* Animation */
@keyframes slideIn {
    0% {top: 100vh; opacity: 0;}
    100% {top: 0; opacity: 1;}
}
